<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/_header %>
</head>
<body>
    <% for (let obj in urls) { %>
    <form method="POST" action="/urls/<%= obj %>/delete">
      <%= obj %> -> <a href="<%= urls[obj].url %>"> <%= urls[obj].url %></a>
      <% if (user) { %>
        <% if (urls[obj].userId === user.id) {%>   
          <a href="/urls/<%= obj %>"> edit</a>
          <button type="submit">delete</button>
        <%} %>
      <%} %>
    </form>
    <%} %>

    <form method="GET" action="urls/new">
      <button>create new tinyURL</button> 
    </form>
</body>
</html>
